<div class="container-fluid" data-ng-controller="adminClinics">
	<div class="row">
		<div class="col-md-12 col-md-offset-1">

			<ul class="nav nav-pills">
				<li><a href="#/admin/subscribers">Subscribers</a></li>
				<li><a href="#/admin/admins">Admins</a></li>
				<li class="active"><a href="#/admin/clinics">Clinics</a></li>
				<li><a href="#/admin/visits">Visits</a></li>
			</ul>

		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p data-ng-show="noData" class="bg-primary">No data has been found!</p>
			<p data-ng-show="connectError" class="bg-warning">Uknown Error has occured while trying to achieve the operation!<button type="button" ng-click="closeConnectError()" class="close" aria-hidden="true">&times;</button></p>

			<div ng-show="clinicData">
				<h4><a href=""><span ng-click="backToClinics()" class="glyphicon glyphicon-circle-arrow-left"></span></a>Clinics</h4>

				<!--banner-->
				<div class="banner">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 inner-banner">
								<img src="uploads/{{clinicInfo.pic_link}}" alt="" class="img-responsive">
								<span style="position:absolute; z-index:100; top:0; right:0px; padding:0;" class="col-xs-6 col-sm-6 col-md-6"><img src="images/inner-logo.png" class="img-responsive"  alt="">
									<b style="position:absolute; z-index:10; top:36%; right:8%; width:46%;"><img src="uploads/{{clinicInfo.logo_link}}"  alt="" class="img-responsive"></b>
								</span>

							</div>
						</div>
					</div>
				</div>
				<img src="images/banner-shadow.png"  class="img-responsive" alt="" style="display:block; margin:0 auto;">

				<div class="row">
					<div class="table-responsive panel">
						<p data-ng-show="noVisitsData" class="bg-primary">No data has been found!</p>
					</div>
				</div>

				<div class="row" ng-show="showClinicVisits">
					<div class="table-responsive panel">

						<table class="table table-bordered table-hover">
							<tr>
								<thead>
									<th>Full Name</th>
									<th>Birth Date</th>
									<th>Case</th>
									<th>Treatment</th>
									<th>Cost</th>
									<th>Date &amp; time</th>
								</thead>
							</tr>
							<tr ng-repeat="visit in clinicVisitsInfo">
								<td align="left" valign="middle">{{visit.first_name}} {{visit.last_name}}</td>
								<td align="left" valign="middle">{{visit.birthdate}}</td>
								<td align="left" valign="middle">{{visit.case}}</td>
								<td align="left" valign="middle">{{visit.treatment}}</td>
								<td align="left" valign="middle">{{visit.cost}}</td>
								<td align="left" valign="middle">{{visit.created_at}}</td>
							</tr>
						</table>
					</div>
				</div>


			</div>

			<div ng-show='newClinicForm'  class="bg-info" style="padding:1%;">
				<button type="button" ng-click="closeNewClincForm()" class="close" aria-hidden="true">&times;</button>
				<form id="newClinicInfo" method="post" ng-model="newClinicInfo">
					<div class="form-group">
						<input class="search" type="text" name="name" ng-model="newClinicInfo.name" placeholder="Name">
						<input class="search" type="email" name="email" ng-model="newClinicInfo.email" placeholder="Email">
						<input class="search" type="number" name="phone_number" ng-model="newClinicInfo.phone_number" placeholder="Phone Number">
						<select class="btn btn-primary" name="city" ng-model="newClinicInfo.city">
							<option ng-repeat="option in cityOptions" value="{{option}}">{{option}}</option>
						</select>
					</div>
					<div class="form-group">
						<input class="search" type="text" name="address" ng-model="newClinicInfo.address" placeholder="Address">
						<input class="search" type="text" name="description" ng-model="newClinicInfo.description" placeholder="Description">
						<input class="search" type="password" name="password" ng-model="newClinicInfo.password" placeholder="Password">
					</div>
					<div class="form-group">
						<label>Profile Image</label>
						<input class="search" type="file" name="pic_link" ng-model="newClinicInfo.pic_link">
						<label>Logo</label>
						<input class="search" type="file" name="logo_link" ng-model="newClinicInfo.logo_link">
						<button class="btn btn-primary btn-lg" ng-click="saveClinic(newClinicInfo.id)">Save</button>
					</div>
					
				</form>
			</div>

			<div data-ng-show="clinicsTable"  class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								<a href=""><span ng-click="showNewClinicForm()" class="label label-primary">New</span></a>
							</th>
							<th>Name</th>
							<th>Phone</th>
							<th>Email</th>
							<th>City</th>
							<th>Address</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="clinic in clinics">
							<td>
								<a href="">
									<span ng-click="deleteClinic($index,clinic.id)" class="glyphicon glyphicon-remove-circle"></span>
								</a>
								<a href="">
									<span ng-click="editClinic($index,clinic.id)" class="glyphicon glyphicon-pencil"></span>
								</a>
							</td>
							<td><a href="" ng-click="showClincData($index,clinic.id)">{{clinic.name}}</a></td>
							<td>{{clinic.phone_number}}</td>
							<td>{{clinic.email}}</td>
							<td>{{clinic.city}}</td>
							<td>{{clinic.address}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>