<div class="container-fluid" data-ng-controller="adminApplications">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			<ul class="nav nav-pills">
				<li><a href="#/admin/subscribers">Subscribers</a></li>
				<li><a href="#/admin/admins">Admins</a></li>
				<li><a href="#/admin/clinics">Clinics</a></li>
				<li><a href="#/admin/visits">Visits</a></li>
				<li class="active"><a href="#/admin/applications">Applications</a></li>
			</ul>

		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p data-ng-show="noData" class="bg-primary">No data has been found!</p>
			<p data-ng-show="connectError" class="bg-warning">Error occured while trying to connect to the server!</p>
		</div>
	</div>

</div>