<!--body-layout-->
<div class="body-layout">
	
	<!--Vision-->
	<aside class="vision">
		<!--contener-->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="panel">
						<h5>Contact Us</h5>

						<p>Tel : 00971 4 2087606</p>
						<p>Fax : 00971 4 2087806</p>
						<p>Mobile phone : 00971 55 699 63 88</p>
						<p>P.O Box : 78756</p>

						<b>Email : info@dentus.me</b>

						<h5>
							Dubai- Al Garhoud - Next to Dubai cargo village- Nasser Lootah building- Emirates business center- Office number 10.
						</h5>


						<div class="flex-video">
							<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d462569.8338586459!2d55.22984435!3d25.07385794999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai+-+United+Arab+Emirates!3m2!1d25.271138999999998!2d55.307485!5e0!3m2!1sen!2s!4v1394815970259" width="600" height="450" frameborder="0" style="border:0"></iframe>		
						</div>


					</div>
				</div>
			</div>
		</div>

	</aside>
</div>