
<!--banner-->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 inner-banner">
        <img src="images/clnic-banner.jpg" alt="" class="img-responsive">
        <span style="position:absolute; z-index:100; top:0; right:0px; padding:0;" class="col-xs-6 col-sm-6 col-md-6"><img src="images/inner-logo.png" class="img-responsive"  alt="">
          <b style="position:absolute; z-index:10; top:36%; right:8%; width:46%;"><img src="images/in-ban-logo.png"  alt="" class="img-responsive"></b>
        </span>
        
      </div>
    </div>
  </div>
</div>
<img src="images/banner-shadow.png"  class="img-responsive" alt="" style="display:block; margin:0 auto;">
<!--end-banner-->

<!--body-layout-->
<div class="body-layout">
  
  <!--Vision-->
  <aside class="vision">
   <!--contener-->
   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul class="faq">
         <li>
          <h5><strong>q</strong>Are events taxed?</h5>
          <h6><strong>a</strong>No. Games2Party events are not taxed by the State of California.</h6>
        </li>
        
        <li>
          <h5><strong>q</strong>Is there an age limit?</h5>
          <h6><strong>a</strong>We offer something for everyone and a Games2Party event is perfect for kids age 6 to adults.</h6>
        </li>
        
        <li>
          <h5><strong>q</strong>How do the birthday invitations work?</h5>
          <h6><strong>a</strong>Once you have confirmed and paid, we will mail you up to 30 high-quality invitations..</h6>
        </li>
        
        <li>
          <h5><strong>q</strong>What time should I make the party?</h5>
          <h6><strong>a</strong>We suggest that you tell your guests that the party is a half-hour or more before our arrival time — that way they eat first & they all see the grand 
            arrival of our mobile video game theater!</h6>
          </li>
          
          <li>
            <h5><strong>q</strong>What video games are available?</h5>
            <h6><strong>a</strong>Games2Party features all the top games for the PS3, PS4, Xbox 360, Xbox One, and WiiU.</h6>
          </li>
          
          <li>
            <h5><strong>q</strong>Should I be concerned about the types of games for kids?</h5>
            <h6><strong>a</strong>Game selection is the responsibility of the host! We recognize that games should be appropriate to the group using our rig. You can view our c
              omplete listing of games here. Select the appropriate catagories or specific titles and the rest we will store!</h6>
            </li>
            
            <li>
              <h5><strong>q</strong>Do parents have to supervise?</h5>
              <h6><strong>a</strong>No. Parents are always welcome inside, but Games2Party Mobile Video Game Theater is managed by a trained Game Coach who is present at 
                all times.</h6>
              </li>
              
              <li>
                <h5><strong>q</strong>Do you need to plug in?</h5>
                <h6><strong>a</strong>No. Games2Party Mobile Video Game Theater is completely self-powered by on-board generators.</h6>
              </li>
              
              <li>
                <h5><strong>q</strong>How many players do your games accommodate?/h5>
                  <h6><strong>a</strong>Games2Party Video Game Theaters is designed to accommodate up to 24 players at a time; 12-16 players inside and up to 8 additional players c
                    an utilize outdoor screens.</h6>
                  </li>
                  
                  <li>
                    <h5><strong>q</strong>What if there is bad weather, or too hot or too cold?</h5>
                    <h6><strong>a</strong>Games2Party Video Game Theater is climate controlled to accommodate most weather conditions and we are able to conduct parties any 
                      time of the year.</h6>
                    </li>
                    
                    <li>
                      <h5><strong>q</strong>How do I know the trailer can come to my house?</h5>
                      <h6><strong>a</strong>Our drivers are excellent and can go nearly anywhere. Our trailer is about 50 feet long and needs to be placed on an area of little or no incline or 
                        decline. Otherwise, you can divert us to a nearby park, church or parking lot! Please call us if you have any questions regarding trailer placement a
                        nd location. Safety is a  top requirement and we cannot park where we risk injury to you, our coaches or equipment.</h6>
                      </li>
                      
                      <li>
                        <h5><strong>q</strong>Do we need a lot of space?</h5>
                        <h6><strong>a</strong>Not as much as you might think. Our trucks are about 50 feet long and can easily fit in front of most residential locations, cul-de-sacs or 
                          neighborhood parks or school yards.</h6>
                        </li>
                        
                        <li>
                          <h5><strong>q</strong>Do I have to pay for the party in advance?</h5>
                          <h6><strong>a</strong>Our reservations go quickly. In order to hold your booking, you must pay online or create other arrangements. Until we receive payment, 
                            or reached another arrangement, your time and date are open to other bookings.</h6>
                          </li>
                          
                          
                          <li>
                            <h5><strong>q</strong>What time will you be arriving?</h5>
                            <h6><strong>a</strong>We will arrive ~15 minutes prior to your party or event to setup.</h6>
                          </li>
                          
                          <li>
                            <h5><strong>q</strong>What is your cancellation & reschedule policy?</h5>
                            <h6><strong>a</strong>Rescheduling an event can be done one time without incurring any cancellation charges.
                              Cancellations made 14 or more days prior to an event will not incur any cancellation charge.
                              Cancellations made 7-14 days prior to an event will incur a 50% non-refundable cancellation charge. Cancellations made less than 7 days prior to 
                              an event will incur a non-refundable cancellation charge equal to the amount of the full event.</h6>
                            </li>
                            
                            
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!--end-contener-->
                  </aside>
                  <!--end-Vision-->
                </div>
                <!--end-body-layout-->

                