
<!--banner-->
<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 inner-banner">
				<img src="images/clnic-banner.jpg" alt="" class="img-responsive">
				<span style="position:absolute; z-index:100; top:0; right:0px; padding:0;" class="col-xs-6 col-sm-6 col-md-6"><img src="images/inner-logo.png" class="img-responsive"  alt="">
					<b style="position:absolute; z-index:10; top:36%; right:8%; width:46%;"><img src="images/in-ban-logo.png"  alt="" class="img-responsive"></b>
				</span>
			</div>
		</div>
	</div>
</div>
<img src="images/banner-shadow.png"  class="img-responsive" alt="" style="display:block; margin:0 auto;">
<!--end-banner-->

<!--body-layout-->
<div class="body-layout">
	
	<!--Vision-->
	<aside class="vision">
		<!--contener-->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="faq">
						
						<div>
							<h3><span class="label label-primary">Is Dentus card valid to be used in all clinics and hospitals?</span></h3>
							<h4><span class="label label-success">Dentus health card can only be used in dentus clinics network.</span></h4>
						</div>

						<div>
							<h3><span class="label label-primary">Are there any additional charges other than the subscription fees?</span></h3>
							<h4><span class="label label-success">No , just the subscription fees.</span></h4>
						</div>

						<div>
							<h3><span class="label label-primary">How to subscribe and what are the payments methods?</span></h3>
							<h4><span class="label label-success">1) you may call us on our direct contacts or you may visit us at our office.</span></h4>
							</div>

							<div>
								<h3><span class="label label-primary">How do I know if my card is valid to use</span></h3>
								<h4><span class="label label-success">Each card has an expiry date.</span></h4>
							</div>

							<div>
								<h3><span class="label label-primary"> is there is a maximum limit of using Dentus health card?</span></h3>
								<h4><span class="label label-success">No , you can visit the clinics as long as the card is valid.</span></h4>
							</div>

						<div>
							<h3><span class="label label-primary">Is the offer applicable for one visit only?</span></h3>
							<h4><span class="label label-success">No , you can enjoy the offer on every visit to any clinic included in dentus network.</span></h4>
						</div>

						<div>
							<h3><span class="label label-primary">Does the offer include citizens and residences of UAE only?</span></h3>
							<h4><span class="label label-success">The offer includes Citizens, residence and also visitors of UAE.</span></h4>
						</div>

							<div>
								<h3><span class="label label-primary"> Is Dentus Health card Renewable? </span></h3>
								<h4><span class="label label-success">yes, you can renew your card by calling our direct lines.</span></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end-contener-->
		</aside>
		<!--end-Vision-->
	</div>
	<!--end-body-layout-->

