<div ng-controller="subscribers">
	<!--banner-->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12"><img src="images/clnic-banner.jpg"  alt="" class="img-responsive"></div>
			</div>
		</div>
	</div>
	<img src="images/banner-shadow.png"  class="img-responsive" alt="" style="display:block; margin:0 auto;">
	<!--end-banner-->

	<!--body-layout-->
	<div class="body-layout">

		<!--Vision-->
		<aside class="vision">
			<!--contener-->
			<div class="container">
				<div class="row patiant-wraper">
					<div class="col-xs-12 col-sm-12 col-md-12 patiant">
						<div class="col-xs-4 col-sm-3 col-md-2 col-xs-pull-4 col-sm-pull-5 col-md-pull-5 chakti"><img src="images/chakti.png"></div>
						<div class="clearfix"></div>
						<p data-ng-show="connectError" class="bg-warning">Uknown Error has occured while trying to achieve the operation!<button type="button" ng-click="closeConnectError()" class="close" aria-hidden="true">&times;</button></p>
						<h1><span>Dentus - User Identity Card</span></h1>
						<div class="row" style="margin-top:20px;">
							<div class="col-xs-12 col-sm-7 col-md-7 text-left patiend-details">
								<div class="media">
									<img src="images/patind-01.png" alt="" class="img-responsive img-thumbnail img-circle pull-left">
									<article class="media-body text-left" style="padding:56px 0 0 10px;">
										<h5><strong>Name:</strong> {{subscriberPageInfo[0].first_name}} {{subscriberPageInfo[0].last_name}}</h5>
										<h5><strong>Email:</strong> <a href="mailto:fares.younis@yahoo.com">{{subscriberPageInfo[0].email}}</a></h5>
										<h5><strong>Id:</strong> {{subscriberPageInfo[0].serial_number}}</h5>
										<p>Joining Date : {{subscriberPageInfo[0].created_at}}</p>
									</article> 
								</div>
							</div>

							<div ng-show='visitsHistory' class="col-xs-12 col-sm-5 col-md-5 text-left" style="padding-top:80px;">
								<div class="table-responsive panel">
									<table class="table table-striped table-bordered">
										<tr class="he">
											<td align="left" valign="middle">Case</td>
											<td align="left" valign="middle">Cost</td>
											<td align="left" valign="middle">Date &amp; Time</td>
										</tr>
										<tr ng-show="vistsDetails" class="she" ng-repeat='info in subscriberPageInfo'>
											<td align="left" valign="middle">
												<span ng-click="showVisitDetail($index)" class="glyphicon glyphicon-plus"></span>{{info.case}}
											</td>
											<td align="left" valign="middle">{{info.cost}}</td>
											<td align="left" valign="middle">{{info.visit_date}}</td>
										</tr>
										<tr ng-show="vistsDetailsNotFound">
											<td colspan="3">No data has been found!</td>
										</tr>
									</table>

								</div>
							</div>

							<div ng-show="visitDetail" class="col-xs-12 col-sm-5 col-md-5 text-left" style="padding-top:80px;">
								<table class="table table-striped table-bordered">
									<tr class="he">
										<td align="left" valign="middle">Case</td>
										<td align="left" valign="middle">Cost</td>
										<td align="left" valign="middle">Date &amp; Time</td>
									</tr>
									<tr class="she">
										<td align="left" valign="middle">
											<span ng-click="closeVisitDetail()" class="glyphicon glyphicon-minus"></span>{{visitInfo.case}}
										</td>
										<td align="left" valign="middle">{{visitInfo.cost}}</td>
										<td align="left" valign="middle">{{visitInfo.visit_date}}</td>
									</tr>
									<tr class="she">
										<td colspan="3">
											<h4>Treatment :-</h4>
											<p>{{visitInfo.treatment}}</p>
										</tr>
									</table>

									<div class="panel" style="padding:1%;">
										<h5><strong>{{visitInfo.clinic_name}} - {{visitInfo.clinic_city}}</strong> </h5>
										<h5><strong>{{visitInfo.clinic_address}}</strong> </h5>
										<h5><strong>{{visitInfo.clinic_description}}</strong> </h5>
									</div>
								</div>


							</div>
						</div>
					</div>

				</div>
				<!--end-contener-->
			</aside>
			<!--end-Vision-->
		</div>
		<!--end-body-layout-->
	</div>