     	<!--banner-->
       <div class="banner">
        <div class="container">
         <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12"><img src="images/clnic-banner.jpg"  alt="" class="img-responsive"></div>
         </div>
       </div>
     </div>
     <img src="images/banner-shadow.png"  class="img-responsive" alt="" style="display:block; margin:0 auto;">
     <!--end-banner-->
     
     <!--body-layout-->
     <div class="body-layout">
      
      <!--Vision-->
      <aside class="vision">
        <!--contener-->
        <div class="container">
         <div class="row patiant-wraper">
           <div class="col-xs-12 col-sm-12 col-md-12 patiant">
             <div class="col-xs-4 col-sm-3 col-md-2 col-xs-pull-4 col-sm-pull-5 col-md-pull-5 chakti"><img src="images/chakti.png"></div>
             <div class="clearfix"></div>
             <h1><span>Dentus - User Identity Card</span></h1>
             <div class="row" style="margin-top:20px;">
               <div class="col-xs-12 col-sm-7 col-md-7 text-left patiend-details">
                 <div class="media">
                  <img src="images/patind-01.png" alt="" class="img-responsive img-thumbnail img-circle pull-left">
                  <article class="media-body text-left" style="padding:56px 0 0 10px;">
                   <h5><strong>Name:</strong> Fares Mohmed</h5>
                   <h5><strong>Email:</strong> <a href="mailto:fares.younis@yahoo.com">fares.younis@yahoo.com</a></h5>
                   <h5><strong>Balance:</strong> 2840</h5>
                   <h5><strong>Id:</strong> #1406069</h5>
                   <p>Expiration Date : 2014-06-06 12:39:03</p>
                 </article> 
               </div>
             </div>
             <div class="col-xs-12 col-sm-5 col-md-5 text-left" style="padding-top:80px;">
               <div class="table-responsive panel">
                 <table class="table table-striped table-bordered">
                  <tr class="he">
                    <td align="left" valign="middle">Diagnosis</td>
                    <td align="left" valign="middle">Cost</td>
                    <td align="left" valign="middle">Date &amp; Time</td>
                  </tr>
                  <tr class="she">
                    <td align="left" valign="middle"><span style="color:#19a3b0;">+</span> cleaning</td>
                    <td align="left" valign="middle">240</td>
                    <td align="left" valign="middle">2014-06-06 14:18:37</td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!--end-contener-->
  </aside>
  <!--end-Vision-->
</div>
    <!--end-body-layout-->